body {
  background-color: #fff1e8;
  color: #000119;
  height: 100%;
  margin: unset;
}

#root {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  padding-left: 1rem;
  padding-right: 1rem;
  min-height: 100vh;
}

.font-pt-sans {
  font-family: 'PT Sans', sans-serif;
}

.font-playfair {
  font-family: 'Playfair Display', serif;
}
