body {
  background-color: #fff1e8;
  color: #000119;
  height: 100%;
  margin: unset;
}

#root {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}

.font-pt-sans {
  font-family: 'PT Sans', sans-serif;
}

.font-playfair {
  font-family: 'Playfair Display', serif;
}

h1, h2, h3 {
  margin-top: unset;
}
